body {
  background-color: #ebf4f2;
}

header {
  text-align: center;
  color: #9cb0aa;
}

h1 {
  font-size: 60px;
}

h2 {
  font-weight: thin;
}

.container {
  width: 1040px;
  margin: 50px auto;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 100px;
}

.background-circle {
  position: absolute;
  bottom: -300px;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: -1;
}
